nav {
  	background-color: #D6EFFF;
	padding: 10px 10%;

	img {
		width: 4em;
		height: 2em;
		margin: 0 0;
		vertical-align: middle;  
	}

	a {
  		text-decoration: none;
 		padding: 10px; 
  		color: black;
  		font-family: monospace;

		&:hover {
  			background-color: #7BCE89;
		}
	}

	ul {
  		margin: 0;
  		padding: 0;
  		display: flex;
	}

	li {
  		list-style-type: none;  
  		margin: 0 2vw;
  		font-size: 3vh;
		display: inline-flex;
	}

}
