nav {
 	width: 100vw;
  	background-color: #D6EFFF;
	padding: 10px 10%;

	a {
  		text-decoration: none;
 		padding: 10px; 
  		color: black;
  		font-family: monospace;

		&:hover {
  			background-color: #00FF00;
		}
	}

	ul {
  		margin: 0;
  		padding: 0;
	}

	body {
  		margin: 0;
	}

	ul {
  		margin: 0;
  		padding: 0;
  		display: flex;
	}

	li {
  		list-style-type: none;  
  		margin: 0 2vw;
  		font-size: 3vh;
	}

}
